llm:
  url: llm/generate
image_llm:
  url: image_llm/generate
tts:
  url: tts/tts
whisper:
  url: whisper/
twitch:
  client_id: client_id
  secret: secret
api:
  port: 8080
  page_prefix: BAJ AI
db:
  conn_str: "postgres://postgres/postgres?user=postgres&password=postgres"
influx:
  url: influx
  token: forsen-forsen-forsen-forsen
  org: forsen
  bucket: forsen
ffmpeg:
  tmp_dir: /tmp
whisper:
  url: http://localhost:8777
s3:
  endpoint: "minio:9000"
  access_key_id: "minioadmin"
  secret_access_key: "minioadmin"
  use_ssl: false
