llm:
  url: llm/generate
tts:
  url: tts/tts
whisper:
  url: whisper/
twitch:
  client_id: client_id
  secret: secret
api:
  port: 8080
  domain: forsen.fun
  page_prefix: BAJ AI
db:
  conn_str: "postgres://postgres/postgres?user=postgres&password=postgres"
influx:
  url: influx
  token: forsen-forsen-forsen-forsen
  org: forsen
  bucket: forsen
ffmpeg:
  tmp_dir: /tmp
whisper:
  url: http://localhost:8777
